<% const layout = (content) => include('./layout', { body: content, title: 'پیشخوان' }); %>
<%- layout(`
  <section>
    <h2>مقالات</h2>
    <table>
      <thead>
        <tr>
          <th>شناسه</th>
          <th>عنوان</th>
          <th>خلاصه</th>
          <th>کاور</th>
          <th>تاریخ ایجاد</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        ${articles.map(a => `
          <tr>
            <td>${a.id}</td>
            <td>${a.title}</td>
            <td>${a.summary}</td>
            <td>${a.image ? `<img class=\"img-preview\" src=\"/${a.image}\" />` : ''}</td>
            <td>${new Date(a.createdAt).toLocaleString()}</td>
            <td class=\"actions\">\
              <a class=\"btn secondary\" href=\"/admin/articles/${a.id}/edit\">ویرایش</a>\
              <form class=\"inline\" action=\"/admin/articles/${a.id}/delete\" method=\"POST\">\
                <button class=\"btn danger\" type=\"submit\">حذف</button>\
              </form>
            </td>
          </tr>
        `).join('')}
      </tbody>
    </table>
  </section>
`) %>


